<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
>
<section layout:fragment="contentForView">
    <h1 th:if="${departement}" th:text="${departement}"></h1>
    <small th:if="${returnMessage}" th:text="${returnMessage}"></small>
    <div th:each="emp:${employes}">
        <h1 th:text="${emp.matr}"></h1>
        <p th:text="${emp.nom}"></p>
        <p th:text="${emp.prenom}"></p>
        <p th:text="${emp.salaireBase}"></p>
    </div>
</section>
</html>